RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteCond %{HTTP_REFERER} !^http://akungeblog.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://akungeblog.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://apps.irfnrdh.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://apps.irfnrdh.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://blog.irfnrdh.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://blog.irfnrdh.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hai.irfnrdh.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hai.irfnrdh.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://irfnrdh.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://irfnrdh.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://kuliahonline.irfnrdh.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://kuliahonline.irfnrdh.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://kuon.irfnrdh.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://kuon.irfnrdh.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://paste.irfnrdh.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://paste.irfnrdh.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.akungeblog.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.akungeblog.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.apps.irfnrdh.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.apps.irfnrdh.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.blog.irfnrdh.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.blog.irfnrdh.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hai.irfnrdh.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hai.irfnrdh.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.irfnrdh.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.irfnrdh.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.kuliahonline.irfnrdh.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.kuliahonline.irfnrdh.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.kuon.irfnrdh.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.kuon.irfnrdh.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.paste.irfnrdh.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.paste.irfnrdh.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://akungeblog.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://akungeblog.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://apps.irfnrdh.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://apps.irfnrdh.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://blog.irfnrdh.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://blog.irfnrdh.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://hai.irfnrdh.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://hai.irfnrdh.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://irfnrdh.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://irfnrdh.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://kuliahonline.irfnrdh.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://kuliahonline.irfnrdh.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://kuon.irfnrdh.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://kuon.irfnrdh.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://paste.irfnrdh.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://paste.irfnrdh.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.akungeblog.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.akungeblog.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.apps.irfnrdh.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.apps.irfnrdh.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.blog.irfnrdh.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.blog.irfnrdh.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.hai.irfnrdh.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.hai.irfnrdh.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.irfnrdh.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.irfnrdh.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.kuliahonline.irfnrdh.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.kuliahonline.irfnrdh.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.kuon.irfnrdh.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.kuon.irfnrdh.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.paste.irfnrdh.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.paste.irfnrdh.com$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

